.mot_importante{
    color: blue;
}
.Concept{
    color:red;
     color:#d8e8fa 
}

.CConcept{
    color:#18d3a1f9
}
.rotate-formula-box {
    transition: transform 0.5s ease-in-out;
    transform: rotateY(10deg);
  }
  .rotate-back {
    transform: rotateY(0deg);
    
  }
  