.SS {
    background-image: url("../../imges/madhi.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: top center;
    background-size: 100px 100px;
    padding-top: 200px;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.LL {
    background-image: url("../../imges/modharaa.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: top center;
    background-size: 100px 100px;
    padding-top: 200px;
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}