.video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3px;

}

.activity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.children-wrapper {
    margin-bottom: 5vh;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.activity-title {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82%;
    /* background-color: blue; */
    /* color: white;
    height: 3vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 3vh; */
}

.play-button-overlay {
    background-color: rgba(40, 48, 158, 0.233);
    border-radius: 8px;
    padding: 5px;

}