.App22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-image: url("/public/images/bg.PNG")
}

.path {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px;
}
.title1{
  position: relative;

}
.title2{
  position: relative;

}
