.pagination {
    display: flex;
    align-items: center; /* Pour centrer verticalement les éléments */
    justify-content: space-between; /* Pour écarter les éléments horizontalement */
    padding: 0 20px; /* Espacement intérieur */
    width: 100%; /* S'assure que la pagination occupe toute la largeur disponible */
    box-sizing: border-box; /* Pour inclure le padding dans la largeur totale */
  }

.progress-bar {
    flex-grow: 1; 
    margin: 0 5px;   
  } 
  