.pagination {
    display: flex;
    align-items: center; /* Pour centrer verticalement les éléments */
    justify-content: space-between; /* Pour écarter les éléments horizontalement */
    padding: 0 20px; /* Espacement intérieur */
    width: 100%; /* S'assure que la pagination occupe toute la largeur disponible */
    box-sizing: border-box; /* Pour inclure le padding dans la largeur totale */
  }
  
  .progress-bar {
    flex-grow: 1; /* S'étend pour occuper l'espace disponible entre les deux icônes */
    margin: 0 20px; /* Espacement entre la barre et les icônes */
  }
  
  .icon-container {
    display: flex;
    flex-direction: column; /* Aligne les icônes verticalement */
    align-items: flex-start; /* Aligne les icônes à gauche */
    margin-right: 10px; /* Espace entre les icônes et la barre de progression */
    margin-top: 30px;
}
