.pagination {
  display: flex;
  align-items: flex-start; /* Place les éléments en haut du conteneur */
  justify-content: flex-start; /* Aligner les éléments à gauche */
  padding: 0; /* Supprimer tout espacement intérieur */
  width: 100%; /* Occuper toute la largeur disponible */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0; /* Supprimer toute marge externe */
}

.icon-container {
  display: flex;
  flex-direction: row; /* Aligner les icônes sur une seule ligne */
  align-items: flex-start; /* Place l'icône en haut */
  margin: 0; /* Supprimer toute marge pour éviter tout décalage vertical */
  padding: 0; /* Supprimer tout padding */
}

.progress-bar {
  flex-grow: 1; /* Remplir tout l'espace disponible après l'icône */
  margin: 0; /* Pas de marge pour assurer une bonne continuité */
  height: 10px; /* Hauteur de la barre de progression */
  background: #e0e0e0; /* Couleur de fond de la barre de progression */
  border-radius: 5px; /* Coins arrondis */
  position: relative; /* Position relative pour tout élément interne */
}
